<h1>index My Posts</h1>
<% if session[:user_id] %>
<h1><%= current_user.email %></h1>
<% end %>


<% @user.each do |item| %>
<h2><%= link_to (item.post_title) , :controller => :posts, :action => :show, :postid => item.id %></h2>
<h3><%= item.post_body %></h3>
	<%= puts "These are the id's to the post !!!!!!!! #{item.id}" %>

	<% end %>
	<%= debug params %>

	<%= link_to "Create Post", :controller => :posts, :action => :new %>